body {
    margin: 0px;
}

#starfieldDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
    height: 100vh;
    background-color: #201B1E;
}

.star1 {
    fill: #1C7674;
    filter: blur(1.5px);
}

.star2 {
    fill: #478888;
}