/* nicht der schnellste aber übersichtlichste Weg ohne Compiler */
@import url("reset.css");

/* STYLES */
#app {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #222121;
}
section {
    display: none;
}

/* FONT */

/* SEMESTER */
#planets {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    transition: transform 1.5s;
}

.planet {
    position: absolute;
    display: block;
    will-change: left, top, transform;
    transition: transform 1s;
    animation: fade-in 1s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.planet * {
    position: absolute;
    pointer-events: none;
}

.planet:hover {
    transform: scale(1.7);
}

.planet.clicked:hover {
    transform: scale(1);
}

#orbitSvg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    transition: transform 1.5s;
}

.orbit {
    stroke: #635755;
    stroke-width: 2px;
    fill-opacity: 0%;
    animation: fade-in 1s ease;
}

#orbitSvg.clicked * {
    opacity: 0%;
    transition: opacity 1s;
}

#sun {
    fill: #DE950D;
}

#semNumber {
    font-family: Times, "Times New Roman", Georgia, serif;
    fill: #6C070F;
    opacity: 70%;
}


/* OTHER */