* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-inline: auto;
    width: min(90%, 70rem);
}

#app {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #222121;
}

/* INTRO */

#logo {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
}

#logo > object {
    opacity: 0%;
}

#logosvg {
    display: flex;
}

#logosvg #outline{
    opacity: 5%;
}

#logosvg #wireframe{
    opacity: 8%;
}

#stars,#logobase {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* Non animated Star (Background) */

.bgStar {
width: 1px;
height: 1px;
position: absolute;
background-color: #fff;
border-radius: 100%;
opacity: 0.6;
filter: blur(1.5px);
transition: box-shadow 0.2s ease-in-out;
will-change: transform, box-shadow;
}

/* Animated Star (Foreground) */

.fgStar {
    width: 1px;
    height: 1px;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    opacity: 0.6;
    transition: box-shadow 0.2s ease-in-out;
    will-change: transform, box-shadow;
    }

/* SEMESTER */


#planets {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    transition: transform 1.5s;
}

.planet {
    position: absolute;
    display: block;
    will-change: left, top, transform;
    transition: transform 1s;
    animation: fade-in 1s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.planet * {
    position: absolute;
    pointer-events: none;
}

.planet:hover {
    transform: scale(1.7);
}

.planet.clicked:hover {
    transform: scale(1);
}

#orbitSvg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    transition: transform 1.5s;
}

.orbit {
    stroke: #635755;
    stroke-width: 2px;
    fill-opacity: 0%;
    animation: fade-in 1s ease;
}

#orbitSvg.clicked *{
    opacity: 0%;
    transition: opacity 1s;
}

#sun {
    fill: #DE950D;
}

#semNumber {
    font-family: Arial, Helvetica, sans-serif;
    fill: #6C070F;
    opacity: 70%;
}

/* RESET */

/* FONT */

/* OTHER */
section {
    display: none;
}